*{

    margin: 0%;

    padding: 0%;

    box-sizing: border-box;

}

body{

    background-color: #fff5f8;

    font-family: Arial, sans-serif;

}

img{

    margin-top: 1px;

    width: 160px;

}

